/* Variables */

$color-blue: #1c3e95;;
$color-orange: #fe7a22;

$font-logo:'Architects Daughter', cursive;
$font-title: 'Quicksand', sans-serif;
$font-text: 'Lato', sans-serif;

/* Global */
*, *::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
}

section {
  padding: 96px 0;
}

.container {
  max-width: 1290px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.btn {
  background-color: $color-orange;
  display: inline-block;
  width: 205px;
  height: 48;
  margin: 24px 0 0 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  transition: all 1s;
}

/* Navigator */
.logo {
  margin-right: 25px;
  width: 241px;
  height: 75px;
}

.nav {
  height: 85px;
  margin: 10px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: $font-text;
}

.nav ul {
  z-index: 1;
  align-self: flex-end;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav a {
  width: 64px;
  height: 30px;
  color: $color-blue;
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: none;
}

.nav li {
  z-index: 1;
  display: inline-block;
  margin: 0 0 0 20px;
  position: relative;
}


.nav a:hover {
  color: $color-orange;
  cursor: pointer;
  text-decoration: none;

}

.nav ul ul li {
  margin: 0 0 12px 0;
  display: block;
}

.nav li ul {
  display: none;
  text-align: center;
  position: absolute;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}

.nav li:hover ul{
  display: block;
}

.nav ul ul a {
  color: $color-blue;
  display: block;
  padding: 0 24px;
}

.nav ul ul a:hover {
  color: $color-orange;
}

/* Splash */
.splash {
  display: flex;
  height: 732px;
  width: 100%;
  background-image:url('https://i.postimg.cc/cHcysVXJ/shutterstock-1105116683-4x.png');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.page-title {
  width: 648px;
  height: 65px;
  color: $color-orange;
  font-family: $font-title;
  font-size: 52px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}

.page-subtitle {
  width: 590px;
  height: 74px;
  color: #ffffff;
  font-family: $font-title;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.text-container {
  background-color: #ffffff;
  position: absolute;
  width: 489px;
  height: 604px;
  right: 0;
  border-radius: 10px;

}

.splash-inner {
  width: 100%;
  height: 259px;
  background-color: $color-blue;
  align-self: flex-end;
  flex: 0 0 100%;
}

.splash-inner h2 {
  margin-left: 360px;
}

.splash .container {
  position: absolute;
  height: 604px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 1290px;
}

/* About */
.about {
  background-image: url('https://i.postimg.cc/QxZDpJWs/shutterstock-373266265-4x.jpg');
}

/* Footer */

.footer {
  background: $color-blue;
}
